@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    button{
        padding-right: 0;
        padding-left: 12px;
      }
      
      .linkNavBar:hover{
        color: #000; 
        cursor: pointer;
        background: transparent;
        border-radius: 0;
      }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .blocnavbar2{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items:flex-end;
        justify-content: center;
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .blocnavbar2{
        max-height: 100%;
    }
    .burgerMenuImg{
        margin-top: 25px;
    }
    .myNameLogo{
        margin-bottom: 0;
    }
}

@media screen and (max-width : 753px){
    button{
        padding-right: 0;
        padding-left: 12px;
      }
      
      .linkNavBar:hover{
        color: #000; 
        cursor: pointer;
        background: transparent;
        border-radius: 0;
      }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .blocnavbar2{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items:flex-end;
        justify-content: center;
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .blocnavbar2{
        max-height: 100%;
    }
    .burgerMenuImg{
        margin-top: 25px;
    }
    .myNameLogo{
        margin-bottom: 0;
    }
}

@media (max-width: 720px){
    #home{
        height: auto;
    }
    .containerHome{
        padding: 0;
        flex-wrap:wrap;
        justify-content: center;
        display: flex;
    }
    #projects{
        height: auto;
        padding-bottom: 100px;
    }
    #about{
        height: auto;
        padding-bottom: 100px;
    }
    #services{
        height: auto;
        padding-bottom: 100px;
    }
    .containerAbout{
        align-items: center;
    }
    .subtitle{
        text-align: center;
        padding: 0;
        font-size: 300%;
    }
    .subcontainerAbout{
        padding: 0;
        flex-wrap:wrap;
        justify-content: center;
        display: flex;
    }
    .text-about{
        padding: 0;
        text-align: center;
    }
    .allCardServices{
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
    }
    .allCardProjects{
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
    }
  }
  
  @media (max-width: 1008px) {
    .blocnavbar3{
        display: none!important;
    }
    .blocnavbar2{
        gap: 10px;
        flex-direction: column;
    }
    .navbar{
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        height: auto;
        position: relative;
    }
    #home{
        height: auto;
    }
    .containerHome{
        padding: 0;
        flex-wrap:wrap;
        justify-content: center;
        display: flex;
    }
    #projects{
        height: auto;
        padding-bottom: 100px;
    }
    #about{
        height: auto;
        padding-bottom: 100px;
    }
    #services{
        height: auto;
        padding-bottom: 100px;
    }
    .text-about{
        font-size: 100%!important;
        margin-top: 0;
    }
    .div-text-about{
        width: 50%;
      }
    .allCardServices {
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      gap: 20px;
    }
    .cardService{
      margin-bottom: 20px;
    }
    .allCardProjects {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 20px;
    }
    .cardProject{
      margin-bottom: 20px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display:flex;
    }
    .gototop, .arrow-icon{
        display: none;
    }
  }

  /* @media (max-width: 1070px){
    .blocnavbar1{
       justify-content: center;
       display: flex;
       align-items: center;
    }
    .blocnavbar3{
        display: none;
    }
    .navbar{
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: auto;
    }
  } */
  
  @media (max-width: 1325px) {
    #home{
        height: auto;
        /* padding-bottom: 100px; */
    }
    .containerHome{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding-top: 130px;
        padding-bottom: 170px;
    }
    .memoji-home{
        height: 250px!important;
        width: 250px!important;
        /* margin-right: 70px; */
    }
    .scroll-down{
        display: none;
    }
    .text-banner{
        font-size: 255%!important;
        text-align: center;
        margin-top: 0;
    }
    .containerAbout{
        align-items: center;
    }
    .subcontainerAbout{
    padding-top: 20px;
    }

    .subtitle{
        font-size: 270%;
        text-align: center;
        padding: 0;
    }
    #projects{
        height: auto;
        padding-bottom: 100px;
    }
    #about{
        height: auto;
        padding-bottom: 100px;
    }
    #services{
        height: auto;
        padding-bottom: 100px;
    }
    .div-text-about{
        width: auto;
      }
    .text-about{
        font-size: 105%;
    }
    .allCardServices {
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      gap: 20px;
    }
    .cardService{
      margin-bottom: 20px;
    }
    .allCardProjects {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 20px;
    }
    .cardProject{
      margin-bottom: 20px;
    }

  }

  @media (min-width: 1925px) {
    #home, #about, #services, #projects{
        padding-left: 300px;
        padding-right: 300px;
    }
    footer, .navbar{
        padding-left: 350px;
        padding-right: 350px;
    }
  }